.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  opacity: 0.8;
  box-shadow: 0 0 10px black;
}

.sidebar.open {
  left: 0;
}

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

li {
  padding: 15px 0;
  border-bottom: 1px solid #fefefe;
}

a {
  text-decoration: none !important;
  color: #4438c2;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 0.2px black;
}

a:hover {
  text-decoration: none;
}

.sidebar-title {
  padding: 12px 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.nav-list li:first-child a {
  font-size: 20px;
}

.nav-list li:not(:first-child) a {
  font-size: 20px;
}

.nav-list li span {
  display: block;
  text-align: center;
}

.nav-list li:last-child {
  border-bottom: none;
}
.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #4438c2;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0 10px black;
}

.toggle-btn:hover {
  cursor: pointer;
}

.godown-content {
  margin-left: 0.4rem;
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.card {
  box-shadow: 0 0 15px black;
  margin: 10px; /* adjust as needed */
  padding: 10px; /* adjust as needed */
}

.text-center.text-white.my-3 {
  text-shadow: 0 0 10px black;
}
.card :hover {
  color: #4438c2;
}
