.Header {
  background-color: #3f51b5;
  color: white;
  padding: 1rem;
  box-shadow: 0px 0px 10px black;
}

.Header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.Header__title {
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}

.Header__nav ul {
  display: flex;
  list-style: none;
}

.Header__nav li {
  margin-right: 1rem;
}

.Header__nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Header__nav a:hover {
  color: #ffc107;
}
